

<div class="card">
  <div class="row">
    <div class="col-4 text-center">
      <img class="card-img-top pt-4" (click)='openAnotherUserdata()'
        style="max-width: 100px;"
        src="../../../assets/character1.png"
        alt="character">
    </div>
    <div class="card-body col-8">
      <div class="badges">
        <span class="badge badge-warning">Age</span>
        <span class="badge badge-info">City</span>
      </div>
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">Model based on the reduction of street food
        consumption</p>
      <div class="row">
        <i class="fab fa-facebook-f col-1 offset-8"></i>
        <i class="fab fa-linkedin-in col-1"></i>
        <i class="fab fa-github col-1"></i>
      </div>
    </div>
  </div>
</div>
